<!DOCTYPE html>
<html>
    <head>
        <%= render partial: 'layouts/head' %>
    </head>

    <body>
        <section id="sign-up">
        <%= yield %>
        </section>
        <%= render partial: 'layouts/footer' %>
        <%= yield :scripts %>
    </body>
</html>